<div class="footer">
  <div class="cp--footer collaborative-projects">
    <div class="gray-diagonal">
      <div class="container">
	<p>&copy; 2016 A Linux Foundation Collaborative Project. All Rights Reserved.</p>
	<p>Linux Foundation is a registered trademark of The Linux Foundation. Linux is a registered <a href="http://www.linuxfoundation.org/programs/legal/trademark" title="Linux Mark Institute">trademark</a> of Linus Torvalds.</p>
	<p>Please see our <a href="http://www.linuxfoundation.org/privacy">privacy policy</a> and <a href="http://www.linuxfoundation.org/terms">terms of use</a>.</p>
      </div>
    </div>
  </div>
</div>
