<header role="banner">
  <div class="cp--header collaborative-projects">
    <div class="gray-diagonal">
      <div class="container">
        <a id="cp--logo" href="http://collabprojects.linuxfoundation.org">
          <img src="{{site.url}}/assets/lf/lfcollabprojects_logo_gray.png" alt="Linux Foundation Collaborative Projects"/>
        </a>
      </div>
    </div>
  </div>
  <div id="logo">
    <div class="container">
      <a href="{{site.url}}/"><img src="{{site.url}}/assets/vswitch.png" alt="Open vSwitch" height="100" width="154"></a>
    </div>
  </div>
  <div class="subnav">
    <div class="container">
      <nav>
        <ul class="menu">
          {% include menulist.html menu=site.data.nav url=site.url %}
        </ul>
      </nav>
    </div>
  </div>
</header>
