<header role="banner">
  <div class="cp--header collaborative-projects">
    <div class="gray-diagonal">
      <div class="container">
        <a id="cp--logo" href="http://collabprojects.linuxfoundation.org">
          <img src="/assets/lf/lfcollabprojects_logo_gray.png" alt="Linux Foundation Collaborative Projects"/>
        </a>
      </div>
    </div>
  </div>
  <div id="logo">
    <div class="container">
      <a href="/"><img src="/assets/vswitch.png" alt="Open vSwitch" height="100" width="154"></a>
    </div>
  </div>
  <div class="subnav">
    <div class="container">
      <nav id="menu">
        <label for="tm" id="toggle-menu">Navigation <span class="drop-icon">▾</span></label>
        <input type="checkbox" id="tm">
        <ul class="main-menu clearfix">
          {% include menulist.html menu=site.data.nav counter=0 %}
        </ul>
      </nav>
    </div>
  </div>
</header>
