<!--TODO mailinglist links-->
<ul>
  <li>
    <a href="https://mail.openvswitch.org/pipermail/ovs-announce/">announce</a> <span style="font-size:x-small;"> ( <a href="https://mail.openvswitch.org/mailman/listinfo/ovs-announce">subscribe</a> )</span>
  </li>
  <li>
    <a href="https://mail.openvswitch.org/pipermail/ovs-discuss/">discuss</a> <span style="font-size:x-small;"> ( <a href="https://mail.openvswitch.org/mailman/listinfo/ovs-discuss">subscribe</a> )</span>
  </li>
  <li>
    <a href="https://mail.openvswitch.org/pipermail/ovs-dev/">dev</a> <span style="font-size:x-small;"> ( <a href="https://mail.openvswitch.org/mailman/listinfo/ovs-dev">subscribe</a> )</span>
  </li>
  <li>
    <a href="https://mail.openvswitch.org/pipermail/ovs-git/">git</a> <span style="font-size:x-small;"> ( <a href="https://mail.openvswitch.org/mailman/listinfo/ovs-git">subscribe</a> )</span>
  </li>
  <li>
    <a href="https://mail.openvswitch.org/pipermail/ovs-build/">build</a>  <span style="font-size:x-small;"> ( <a href="https://mail.openvswitch.org/mailman/listinfo/ovs-build">subscribe</a> )</span>
  </li>
</ul>
