<!--TODO mailinglist links-->
<a href="http://openvswitch.org/pipermail/announce/">announce</a> <span style="font-size:x-small;"> ( <a href="http://mail.openvswitch.org/mailman/listinfo/announce">subscribe</a> )</span><br>
<a href="http://openvswitch.org/pipermail/discuss/">discuss</a> <span style="font-size:x-small;"> ( <a href="http://mail.openvswitch.org/mailman/listinfo/discuss">subscribe</a> )</span><br>
<a href="http://openvswitch.org/pipermail/dev/">dev</a> <span style="font-size:x-small;"> ( <a href="http://mail.openvswitch.org/mailman/listinfo/dev">subscribe</a> )</span><br>
<a href="http://openvswitch.org/pipermail/git/">git</a> <span style="font-size:x-small;"> ( <a href="http://mail.openvswitch.org/mailman/listinfo/git">subscribe</a> )</span><br>
<a href="http://openvswitch.org/pipermail/build/">build</a>  <span style="font-size:x-small;"> ( <a href="http://mail.openvswitch.org/mailman/listinfo/build">subscribe</a> )</span><br>
