<!--TODO mailinglist links-->
<a href="http://openvswitch.org/pipermail/announce/">announce</a> (<a href="http://mail.openvswitch.org/mailman/listinfo/announce">subscribe</a>)<br>
<a href="http://openvswitch.org/pipermail/discuss/">discuss</a> (<a href="http://mail.openvswitch.org/mailman/listinfo/discuss">subscribe</a>)<br>
<a href="http://openvswitch.org/pipermail/dev/">dev</a> (<a href="http://mail.openvswitch.org/mailman/listinfo/dev">subscribe</a>)<br>
<a href="http://openvswitch.org/pipermail/git/">git</a> (<a href="http://mail.openvswitch.org/mailman/listinfo/git">subscribe</a>)<br>
