<div class="widget">
    <div class="widget-title">
        Updates
    </div>
    <div class="textwidget">
        <a href=http://openvswitch.org/pipermail/announce/2016-September/000086.html>Sep 19 2016: Registration Open for OVS Fall 2016 Conference</a>
        <br>
        <a href=http://openvswitch.org/pipermail/announce/2016-August/000085.html>Aug 31 2016: Open vSwitch Fall 2016 Conference: Call for  Participation</a>
        <br>
        <a href=http://openvswitch.org/pipermail/announce/2016-August/000085.html>Aug 31 2016: Open vSwitch Fall 2016 Conference: Call for  Participation</a>
        <br>
        <a href=http://openvswitch.org/pipermail/announce/2016-March/000083.html>Mar 29 2016: Open vSwitch 2.4.1 and 2.3.3 Available</a>
        <br>
        <a href=http://openvswitch.org/pipermail/announce/2016-March/000082.html>Mar 29 2016: CVE-2016-2074: MPLS buffer overflow vulnerabilities in Open vSwitch</a>
        <br>
        <a href=http://openvswitch.org/pipermail/announce/2016-February/000081.html>Feb 27 2016: Open vSwitch 2.5.0 Available</a>
        <br>
        <a href=http://openvswitch.org/pipermail/announce/2015-August/000078.html>Aug 21 2015: Open vSwitch 2.4.0 Available</a>
        <br>
        <a href=http://openvswitch.org/pipermail/announce/2015-August/000076.html>Aug 05 2015: Open vSwitch Fall 2015 Conference: Call for Participation</a>
        <br>
        <a href=http://openvswitch.org/pipermail/announce/2015-June/000075.html>Jun 18 2015: Open vSwitch 2.3.2 Available</a>
        <br>
        <a href=http://openvswitch.org/pipermail/announce/2014-December/000071.html>Dec 03 2014: Open vSwitch 2.3.1 Available</a>
        <br>
        <a href=http://openvswitch.org/pipermail/announce/2014-August/000067.html>Aug 14 2014: Open vSwitch 2.3.0, 2.1.3, and 2.0.2 Available</a>
        <br>
        <a href="http://openvswitch.org/pipermail/announce/2014-May/000066.html">May 15 2014: OpenStack: "Open vSwitch and the Intelligent Edge" Slides</a>
        <br>
        <a href="http://openvswitch.org/pipermail/announce/2014-May/000065.html">May 01 2014: Open vSwitch 2.1.2 Available</a>
        <br><a href="http://openvswitch.org/pipermail/announce/2014-April/000064.html">Apr 29 2014: Open vSwitch 2.1.1 Available</a>
        <br>
        <a href="http://openvswitch.org/pipermail/announce/2014-April/000063.html">Apr 8 2014: Open vSwitch repository moves to Github</a>
        <br>
        <a href="http://openvswitch.org/pipermail/announce/2014-March/000061.html">Mar 19 2014: Open vSwitch 2.1.0 Available</a>
        <br>
        <a href="http://openvswitch.org/pipermail/announce/2014-March/000060.html">Mar 04 2014: Announcing an Open vSwitch Hackathon March 26-27</a>
        <br>
        <a href="http://openvswitch.org/pipermail/announce/2014-March/000059.html">Mar 01 2014: Open vSwitch 2.0.1 Available</a>
        <br>
        <a href="http://openvswitch.org/pipermail/announce/2013-November/000058.html">Nov 07 2013: OpenStack: OVS Deep Dive Slides</a>
        <br>
        <a href="http://openvswitch.org/pipermail/announce/2013-October/000057.html">Oct 15 2013: Open vSwitch 2.0.0 Available</a>
    </div>
</div>
<div class="widget">
    <div class="widget-title">
        Recent Releases
    </div> 
    <div class="textwidget">
        Current LTS series: <a href="http://openvswitch.org/releases/openvswitch-2.5.0.tar.gz">2.5.0</a><br>
        Previous LTS series: <a href="http://openvswitch.org/releases/openvswitch-2.3.3.tar.gz">2.3.3</a><br>
    </div>
</div>
<div class="widget">
    <div class="widget-title">
        Mailing List Archives
    </div>
    <div class="textwidget">
        {% include mailinglist-link.html %}
    </div>
</div>
<div class="widget">
    <div class="widget-title">
        IRC
    </div>
    <div class="textwidget">
        Visit #openvswitch on irc.<a href="http://freenode.net">freenode.net</a>.
    </div>
</div>
