<div class="widget">
  <div class="widget-title">
    Updates
  </div>
  <div class="widget-body">
    <ul>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2020-August/000264.html>Aug 17 2020: Open vSwitch 2.14.0 Available</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2020-August/000263.html>Aug 05 2020: 2.13.1, 2.12.1, 2.11.4, 2.10.5, 2.9.7, 2.8.9, 2.7.11, 2.6.8 and 2.5.10 Available</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2019-September/000256.html>Sep 12 2019: Registration is open for OVS+OVN '19!</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2019-September/000255.html>Sep 10 2019: Open vSwitch 2.12.0 Available</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2019-September/000254.html>Sep 10 2019: 2.11.3, 2.10.4, 2.9.6, 2.8.8, 2.7.10, 2.6.7, and 2.5.9 Available</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2019-April/000252.html>Apr 19 2019: Open vSwitch 2.11.1, 2.10.2, 2.9.5, 2.8.7, 2.7.9, 2.6.6, and 2.5.8 Available</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2019-February/000251.html>Feb 27 2019: Open vSwitch 2.11.0 Available</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2018-October/000250.html>Oct 21 2018: Open vSwitch 2.10.1, 2.9.3, 2.8.5, 2.7.7, 2.6.4,	and 2.5.6 Available</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2018-August/000249.html>Aug 20 2018: Open vSwitch 2.10.0 Available</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2018-May/000247.html>May 25 2018: Open vSwitch 2.9.2, 2.8.4, 2.7.6, and 2.6.3 Available</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2018-May/000246.html>May 21 2018: Open vSwitch 2.9.1, 2.8.3, 2.7.5, 2.6.2, and 2.5.5 Available</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2018-February/000245.html>Feb 20 2018: Open vSwitch 2.9.0 and 2.8.2 Available</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2017-September/000243.html>Sep 29 2017: Open vSwitch 2.8.1, 2.7.3, and 2.5.4 Available</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2017-September/000241.html>Sep 15 2017: Open vSwitch Fall 2017 Conference: Call for Participation and Registration</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2017-September/000240.html>Sep 05 2017: Open vSwitch 2.8.0 Available</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2017-July/000239.html>Jul 18 2017: Open vSwitch 2.7.2 and 2.5.3 Available</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2017-July/000238.html>Jul 06 2017: Open vSwitch 2.7.1 Available</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2017-February/000236.html>Feb 27 2017: Open vSwitch 2.7.0 and 2.5.2 Available</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2016-November/000093.html>Nov 02 2016: Open vSwitch 2.6.1 Available</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2016-November/000092.html>Nov 01 2016: Final Reminder for OVS Fall 2016 Conference</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2016-September/000087.html>Sep 28 2016: Open vSwitch 2.6.0 and 2.5.1 Available</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2016-September/000086.html>Sep 19 2016: Registration Open for OVS Fall 2016 Conference</a>
      </li>
    </ul>
  </div>
</div>
<div class="widget">
  <div class="widget-title">
    Recent Releases
  </div>
  <div class="widget-body">
    Current release: <a href="https://www.openvswitch.org/releases/openvswitch-2.14.0.tar.gz">2.14.0</a><br>
    Current LTS series: <a href="https://www.openvswitch.org/releases/openvswitch-2.13.1.tar.gz">2.13.1</a><br>
  </div>
</div>
<div class="widget">
  <div class="widget-title">
    Mailing List Archives
  </div>
  <div class="widget-body">
    {% include mailinglist-link.html %}
  </div>
</div>
<div class="widget">
  <div class="widget-title">
    IRC
  </div>
  <div class="widget-body">
    Visit #openvswitch on irc.<a href="http://freenode.net">freenode.net</a>.
  </div>
</div>
