<div class="widget">
  <div class="widget-title">
    Updates
  </div>
  <div class="widget-body">
    <ul>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2025-August/000373.html>Aug 18 2025: Open vSwitch 3.6.0 is now Available!</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2025-July/000372.html>Jul 31 2025: OVS+OVN '25: Call for Participation</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2025-June/000368.html>Jun 02 2025: Open vSwitch 3.5.1, 3.4.3 and 3.3.5 are available</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2025-February/000365.html>Feb 27 2025: Open vSwitch 3.4.2, 3.3.4, 3.2.5, 3.1.7, 3.0.8 and 2.17.12 are available</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2025-February/000364.html>Feb 17 2025: Open vSwitch 3.5.0 is now Available!</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2024-November/000360.html>Nov 16 2024: Open vSwitch 3.4.1, 3.3.3, 3.2.4 and 3.1.6 are available</a>
      </li>
      <li>
        <a href="https://mail.openvswitch.org/pipermail/ovs-announce/2024-August/000354.html">Aug 27 2024: Open vSwitch 3.3.2 and 2.17.11 are available</a>
      </li>
      <li>
        <a href="https://mail.openvswitch.org/pipermail/ovs-announce/2024-August/000351.html">Aug 15 2024: Open vSwitch 3.4.0 is now Available!</a>
      </li>
      <li>
        <a href="https://mail.openvswitch.org/pipermail/ovs-announce/2024-August/000350.html">Aug 05 2024: OVS+OVN '24: Call for Participation</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2024-June/000349.html>Jun 07 2024: Open vSwitch 3.3.1, 3.2.3, 3.1.5, 3.0.7 and 2.17.10 are available</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2024-February/000343.html>Feb 16 2024: Open vSwitch 3.3.0 is now Available</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2024-February/000340.html>Feb 08 2024: [ADVISORY] CVE-2023-5366: OpenFlow match on Neighbor Discovery Target may be ignored</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2024-February/000339.html>Feb 08 2024: [ADVISORY] CVE-2023-3966: Invalid memory access in Geneve with HW offload</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2024-February/000338.html>Feb 08 2024: Open vSwitch 3.2.2, 3.1.4, 3.0.6 and 2.17.9 are available</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2023-October/000330.html>Oct 17 2023: Open vSwitch 3.2.1, 3.1.3, 3.0.5 and 2.17.8 are available</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2023-September/000328.html>Sep 05 2023: [OVSCONF] CFP deadline extension until Oct 20th</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org//pipermail/ovs-announce/2023-August/000325.html>Jul 17 2023: Open vSwitch 3.2.0 is now Available</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2023-July/000324.html>Jul 11 2023: [OVSCONF] OVS+OVN '23: Call for Participation</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2023-June/000322.html>Jun 27 2023: Open vSwitch 3.1.2 and 2.17.7 are available</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2023-April/000318.html>Apr 06 2023: [ADVISORY] CVE-2023-1668: Remote traffic denial of service via crafted packets with IP proto 0</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2023-April/000316.html>Apr 06 2023: Open vSwitch 3.1.1, 3.0.4, 2.17.6, 2.16.7, 2.15.8, 2.14.9 and 2.13.11 are available</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2023-February/000315.html>Feb 16 2023: Open vSwitch 3.1.0 is Available</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2022-December/000313.html>Dec 20 2022: [ADVISORY] LLDP underflow while parsing malformed Auto Attach TLV</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2022-December/000312.html>Dec 20 2022: Open vSwitch 3.0.3, 2.17.5, 2.16.6, 2.15.7, 2.14.8 and 2.13.10 are available</a>
      </li>
      <li>
        <a href=https://mail.openvswitch.org/pipermail/ovs-announce/2022-December/000308.html>Dec 01 2022: Open vSwitch 3.0.2 and 2.17.4 are available</a>
      </li>
    </ul>
  </div>
</div>
<div class="widget">
  <div class="widget-title">
    Recent Releases
  </div>
  <div class="widget-body">
    Current release: <a href="https://www.openvswitch.org/releases/openvswitch-3.6.0.tar.gz">3.6.0</a><br>
    Current LTS series: <a href="https://www.openvswitch.org/releases/openvswitch-3.3.5.tar.gz">3.3.5</a><br>
  </div>
</div>
<div class="widget">
  <div class="widget-title">
    Mailing List Archives
  </div>
  <div class="widget-body">
    {% include mailinglist-link.html %}
  </div>
</div>
<div class="widget">
  <div class="widget-title">
    IRC
  </div>
  <div class="widget-body">
    Visit #openvswitch on irc.<a href="http://libera.chat">libera.chat</a>.
  </div>
</div>
