---
---
div {
    vertical-align:top;
}
p {
    vertical-align:baseline;
}
a {
    text-decoration: none;
    font-weight: 700;
}
a:hover {
    color:#444;
}
a:visited {
    color:#447099;
}
a:link {
    color:#447099;
}


body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    color: #444;
    background-color:#f5f5f5;
}

.widget-title {
    background-color:#f5f5f5;
    font-weight:bold;
    text-align:center;
    padding-top:3px;
    padding-bottom:3px;
}
.widget {
    margin:8px;
    border:1px solid #f5f5f5;
}
.textwidget {
    padding:2px;
}

.page {
    background-color:#fff;
    padding: 20px;
}

.footer {
    background-color:#e2e2e2;
    overflow:auto;
    padding:10px;
}
.footer-piece {
    width:300px;
    display:inline-block;
}
.left {
    text-align:left;
    float:left;
}
.center {
    text-align:center;
    margin:0px auto;
}
.right {
    text-align:right;
    float:right;
}

#wholepage {
    width:980px;
    overflow-x:hidden;
    margin:0px auto;
}

.mainpage-top {
    margin-bottom: 20px;
}
.main-content {
    display:inline-block;
    width:620px;
    vertical-align:top;
}
.main-content-no-side-widget {
    display:inline-block;
    width:940px;
    vertical-align:top;
}
.side-widgets {
    margin-top:36px;
    display:inline-block;
    width:300px;
    vertical-align:top;
}
.halfcolumn {
    display:inline-block;
    width:460px;
}
.columncontainer {
    white-space: nowrap;
}
.onethirdcolumn {
    display:inline-block;
    white-space: normal;
    width:292px;
}
.featured-button {
    background: url('{{site.url}}/assets/featured-button.png') no-repeat scroll 0px 0px transparent;
    cursor: pointer;
    color: #444;
    height: 61px;
    width: 230px;
    text-align: center;
    text-shadow: 0px 1px #FFF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    display: table-cell;
    vertical-align: middle;
}
.featured-button:hover {
    background-position: 0px -61px;
}
.size-full {
    max-width:98%;
    height: auto;
}
.codeclass {
    font-family:monospace;
}
/*Navbar*/
.menu {
    background-color: #444;
    margin:0px;
}
.menu a {
    color: #FFF;
    font-size: 12px;
}
.menu div {
    margin:0px;
    padding: 13px 10px;
    padding-left: 10px;
}
.menu li {
    background-color: #444;
}
.menu li:hover {
    background-color: #333;
}
.menu li>ul>li {
    background-color: #888;
}
.menu li>ul>li:hover {
    background-color: #999;
}
