<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/assets/style.css">
  <link rel="shortcut icon" href="/assets/vswitch.ico">
  <title>{{ page.title }}</title>
</head>
<body {% if page.body_class %}class="{{ page.body_class }}"{% endif %}>
{% include header.html %}
<main id="content" role="main">
<div class="container">
{{ content }}
</div>
</main>
{% include footer.html %}
</body>
</html>
