<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/assets/vswitch.ico">
  <title>{{ page.title }}</title>
  <style>
{% include style.css %}
  </style>
</head>
<body {% if page.body_class %}class="{{ page.body_class }}"{% endif %}>
  {% include header.html %}
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
  <main id="content" role="main">
    <div class="container">
{{ content }}
    </div>
  </main>
{% include footer.html %}
</body>
</html>
