<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{site.url}}/assets/style.css">
	<link rel="shortcut icon" href="{{site.url}}/assets/vswitch.ico">
        <title>{{ page.title }}</title>
    </head>
    <body {% if page.body_class %}class="{{ page.body_class }}"{% endif %}>
        <div id="wholepage">
            {% include header.html %}
            <div class="page">
                {{ content }}
            </div>
            {% include footer.html %}
        </div>
    </body>
</html>
